/* Estilos generales para el carousel */
.carousel {
    position: relative;
    max-width: 1100px; /* Más ancho */
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Estilos para el contenedor de las imágenes */
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 500px; /* Más alto */
    align-items: center; /* Centra verticalmente las imágenes */
}

/* Cada item del carousel */
.carousel-item {
    min-width: 100%;
    display: none;
    height: 100%; /* Ocupa todo el alto del contenedor */
}

.carousel-item.active {
    display: block;
}

/* Estilos para las imágenes del carousel */
.carousel-item img {
    width: 100%; /* Ocupa todo el ancho del item */
    height: 100%; /* Ocupa todo el alto del item */
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
    border-radius: 8px;
}

/* Estilos para los controles del carousel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(15, 15, 15);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
/* ---------------------------------------------------------- */

/* === Carrito === */
.cart-modal {
  position: fixed;
  top: 0; right: 0;
  width: 350px;
  height: 100vh;
  background: rgba(36, 168, 224, 0.18); /* azul claro translúcido */
  box-shadow: -2px 0 12px #24a8e055;
  z-index: 2000;
  padding: 24px 16px 16px 16px;
  overflow-y: auto;
  backdrop-filter: blur(8px); /* desenfoque elegante */
  border-left: 2px solid #24a8e0;
  transition: right 0.3s;
}
.close-btn {
  position: absolute;
  top: 12px; right: 12px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.cart-item {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.cart-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}
.cart-qty button {
  margin: 0 4px;
}
.cart-total {
  margin-top: 18px;
  font-size: 1.2em;
}
.checkout-btn {
  width: 100%;
  background: #24a8e0;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 1.1em;
  margin-top: 12px;
  cursor: pointer;
}
/* }
---------------------------------------------------------------------------- */
   /* WhatsapButon */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d3654d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.2s;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-icon {
  width: 32px;
  height: 32px;
}
