.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo-img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logo-title {
  margin: 0;
  color: black;
  font-size: 2rem;
  font-family: 'Georgia', serif;
}