/* Estilos generales para el navbar */
.navbar {
    display: flex; /* Usamos flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: #01077d; /* Color de fondo del navbar */
    padding: 0px 50px; /* Espaciado interno */
    color: rgb(168, 32, 32); /* Color del texto */
}

/* Estilos para el logo */
.logo img {
    height: 80px; /* Altura del logo */
    width: auto; /* Ancho automático para mantener la proporción */
}

/* Estilos para los enlaces de navegación */
.nav-links {
    display: flex; /* Usamos flexbox para alinear los enlaces */
    list-style: none; /* Eliminamos los puntos de la lista */
    margin: 0; /* Eliminamos el margen */
    padding: 0; /* Eliminamos el relleno */
}

.nav-links li {
    margin-left: 20px; /* Margen izquierdo para separar los enlaces */
}

.nav-links a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Eliminamos el subrayado de los enlaces */
    font-size: 18px; /* Tamaño de la fuente */
}

.nav-links a:hover {
    color: #0fcbff; /* Color del texto de los enlaces al pasar el ratón */
}

/* Estilos para el campo de búsqueda */
.search-box {
    display: flex; /* Usamos flexbox para alinear los elementos del campo de búsqueda */
}

.search-box input {
    padding: 10px; /* Espaciado interno */
    border: none; /* Eliminamos el borde */
    border-radius: 15px; /* Bordes redondeados */
}

.search-box button {
    padding: 8px 15px; /* Espaciado interno */
    margin-left: 5px; /* Margen izquierdo */
    background-color: #00ff08; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Eliminamos el borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiamos el cursor al pasar el ratón */
}

.search-box button:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el ratón */
}
