/* Estilos generales para el carousel */
.carousel {
    position: relative;
    width: 100vw;           /* Ocupa todo el ancho de la ventana */
    max-width: 100vw;       /* No se pasa del ancho de la ventana */
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0;
}

/* Estilos para el contenedor de las imágenes */
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 500px; /* Puedes ajustar la altura si lo deseas */
    align-items: center;
}

/* Cada item del carousel */
.carousel-item {
    min-width: 100%;
    display: none;
    height: 100%;
}

.carousel-item.active {
    display: block;
}

/* Estilos para las imágenes del carousel */
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0; /* Sin bordes redondeados para que llegue a los extremos */
}

/* Estilos para los controles del carousel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(15, 15, 15);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}