/* Estilos generales para el carousel */
.carousel {
    position: relative;
    max-width: 1100px; /* Más ancho */
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Estilos para el contenedor de las imágenes */
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 500px; /* Más alto */
    align-items: center; /* Centra verticalmente las imágenes */
}

/* Cada item del carousel */
.carousel-item {
    min-width: 100%;
    display: none;
    height: 100%; /* Ocupa todo el alto del contenedor */
}

.carousel-item.active {
    display: block;
}

/* Estilos para las imágenes del carousel */
.carousel-item img {
    width: 100%; /* Ocupa todo el ancho del item */
    height: 100%; /* Ocupa todo el alto del item */
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
    border-radius: 8px;
}

/* Estilos para los controles del carousel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(15, 15, 15);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}